{% extends 'base.html' %}

{% block content %}

<main class="conteiner py-5">
    <section class="card card-body" >
        <h1 class="display-1 text-center">Home</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusamus velit reprehenderit maxime harum ipsum facilis voluptatum rem suscipit ipsam nulla, distinctio, minima libero saepe vero voluptates quidem? Quidem, officiis.
<div class="text-center">   
        <a class="btn btn-primary" href="/signin/">
        Signin
    </a>    
    <a class="btn btn-primary" href="/signup/">
        Signup
    </a>   
</div>
    </section>
</main>

{% endblock %}