{% extends 'base.html' %}
{% block content %}


<main class="conteiner">
<div class="row">
    <div class="col-md-4  offset-md-4 mt-5">
        <form method="POST" class="card card-body">
            {{error}}   
            {% csrf_token %}
            <form method="POST" class="card card-body">
                <h1 class="text-center">SIGNUP</h1>
                {{error}}   
                {% csrf_token %}
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Escriba su nombre de usuario" id="username">
                    <div>
                        <label for="password1">Password</label>
                        <input type="password" name="password1" class="form-control" placeholder="Escriba su contraseña" id="password1">    
                    </div>
                    <div>
                        <label for="password2">Confirmar Password</label>
                        <input type="password" name="password2" class="form-control" placeholder="Escriba su contraseña nuevamente" id="password2">
                    </div>
                </div>
                <button class="btn btn-primary">Signup</button>
            </form>
        </form>
    </div>
</div>
</main>
{% endblock %}


